@mixin  align($display,$justify-content,$direction,$height) {
    display: flex;
    justify-content: $justify-content;
    flex-direction: $direction;
    align-items: center;
    height: $height;
}

.login-form{
    @include align(flex,center,column,333px);

    margin-top: 1.5rem;
}
.login-input{
    @include align(flex,space-evenly,column,190px);
}
.div-buttons{   
    @include align(flex,space-evenly,null,null);
    width: 100%;
    margin-top: 18px;
}
.reg-form{
    height: 350px;
}

.reg-input{
    @include align(flex,space-evenly,column, 292px);
}
.div-but-content{
    @include align(flex,center,null,null);
    width: 100%;
}
.button1{
    width: 220px;
    color:white !important;
    background-color: #A03037 !important;
}


.pwdchange >span {
    font-size: 0.8rem;
    color:darkgray;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .login-form{
        margin-top: 1rem;
    }
}

@media screen and (max-width: 340px){
    .login-form{
        margin-top: 2rem;
    }
}

@media screen and (min-width: 360px) and (max-width: 630px){
    .login-form{
        margin-top: 2rem;
    }
}

