@mixin flex($disp, $justify, $direction, $width, $height, $margintop) {
    margin-top: $margintop;
    display: $disp;
    flex-direction: $direction;
    justify-content: $justify;
    height: $height;
    width: $width;
}
$border: 1px solid lightgray!important;
.CartBag-frame1 {
    @include flex(flex, center, column, null, 100%, 100px);
    align-items: center;
}

.title1 {
    width: 81%;
    font-weight: 500;
    margin-left:4rem;
}

.cartBag-content1 {
    width: 78%;
    min-height: 223px;
    border: 1px solid #d9cccc;
    margin-top: 20px;
    margin-bottom: 298px;
}
.heading-wishlist {
    @include flex(flex, center, column, null, 58px, null);
    padding-left: 38px;
    border: $border;
}
.main-cart1{
    border: $border;
    display: flex;
    height: 200px;
}
.text-content1 {
    width: 180px;
    width: 86%;
    display: flex;
    height: 150px;
    justify-content: space-between;
}
.bag-text1 {
    @include flex(flex, space-evenly, column, 687px, 161px, null);
}
.cart-title1 {
    font-weight: 600;
    font-size: 20px;
}
.cart-bookAuthor1 {
    font-size: 15px;
    height: 12px;
    color: #a49595;
    font-weight: 600;
}
.price1 {
    font-weight: bold;
}
.delelte-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn-content1 {
    display: flex;
    justify-content: flex-end;
    margin-top: 37px;
    height: 48px;
    width: 107px;
    padding: 12px;
}
.btn-place1 {
    background-color: #3371b5 !important;
    color: white !important;
    font-size: 8px;
    
}
.btn-move{
    font-size: 7px;
    font-weight: bolder;
}

@media only screen and (min-width: 360px) {
   
    .Delete-add-Button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btn-content1{
        margin-top: 8px;
    height: 26px;
    width: 67px;
    }
    .cartBag-content1 {
        width: 94%;
    }
    .bag-text1{
        width: 132px;
    }
}