@mixin flex($disp, $justify, $direction, $width, $height, $margintop) {
    margin-top: $margintop;
    display: $disp;
    flex-direction: $direction;
    justify-content: $justify;
    height: $height;
    width: $width;
}

$border: 1px solid lightgray;

.wish_frame {
    @include flex(flex, center, column, null, 100%, 100px);
    align-items: center;
}
.wish_content {
    width: 70%;
    min-height: 200px;
    border: $border;
    margin-top: 20px;
    margin-bottom: 196px;
    margin-left:-3rem;
}
.wishlist_heading {
    @include flex(flex, center, column, null, 58px, null);
    padding-left: 30px;
    font-weight: 600;
    border: $border;
    background-color: #f5f5f5;
}
.delelte_content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -3rem;
    margin-right: -38rem;
}
.del_icon {
    cursor: pointer;
    color: grey;
}
.btn_place4 {
    background-color: #3371b5 !important;
    color: white !important;
    margin-left: 2.3rem !important;
    margin-top: 2.5rem !important;
    font-size: 0.6rem !important;
}
.btn_content4{
    margin-left: -2.3rem ;
    margin-top: -2rem;
    margin-bottom:1rem;
}

.main-cart{
    display: flex;
    border-bottom:1px solid lightgray;
}
.wish-con{
    display: flex;
    margin-left: 2rem;

}

@media only screen and (min-width: 630px) and (max-width:750px) {
    .delelte_content {
        margin-right: -18rem;
    }
}

@media screen and (min-width: 360px) and (max-width: 630px){

}