@mixin flex($disp, $justify, $direction, $width, $height, $margintop) {
    margin-top: $margintop;
    display: $disp;
    flex-direction: $direction;
    justify-content: $justify;
    height: $height;
    width: $width;
}

$border: 1px solid lightgray;

.wish_frame {
    @include flex(flex, center, column, null, 100%, 100px);
    align-items: center;
}
.wish_content {
    width: 70%;
    min-height: 200px;
    border: $border;
    margin-top: 20px;
    margin-bottom: 196px;
    margin-left:-3rem;
}
.wishlist_heading {
    @include flex(flex, center, column, null, 58px, null);
    padding-left: 30px;
    font-weight: 600;
    border: $border;
    background-color: #f5f5f5;
}
.delelte_content {
    display: flex;
   
    justify-content: flex-end;
    margin-top: -3rem;
   
}
.delelte_content > .css-i4bv87-MuiSvgIcon-root{
    color: grey !important;
}

    .del_icon >.css-i4bv87-MuiSvgIcon-root{

        color: grey !important;


    }

.del_icon {
    cursor: pointer;
    color: grey !important;
    margin-top: -5rem;
    margin-right: -42rem;
    
}
.btn_place4 {
    background-color: #3371b5 !important;
    color: white !important;
    margin-left: 2.3rem !important;
    margin-top: 2.5rem !important;
    font-size: 0.6rem !important;
}
.btn_content4{
    margin-right: 3rem ;
    margin-top: -7.5rem;
    margin-bottom:1rem;
}

.main-cart{
    display: flex;
    border-bottom:1px solid lightgray;
}
.wish-con{
    display: flex;
    margin-left: 2rem;

}

@media screen and (min-width: 360px) and (max-width: 630px){
    .wish_content{
        border:none;
    }
    .wish_content{
        margin-top: -18px;
 
         margin-left: -6rem;
    }
    .wishlist_heading{
        border:none;
        background-color: white;
    }
    .main-cart{
        border-bottom: none;
    }
    .del_icon{
        margin-right: 0rem;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .del_icon{
        margin-right: -10rem;
    }
   
    
}

@media screen and (max-width: 340px){

    .wish_content{
        border:none;
    }
    .wish_content{
        margin-top: -18px;
 
         margin-left: -7rem;
    }
    .wishlist_heading{
        border:none;
        background-color: white;
    }
    .main-cart{
        border-bottom: none;
    }
    .del_icon{
        margin-right: 1.5rem;
    }


}