.success_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.success_img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 10px 10px;  
}
.image1{
    margin-top: 2rem;
    width: 24vw !important;
}
.ctn_shopping{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    height: 2.5rem;
}
.success_text{
    font-size: large;
    font-family: ui-sans-serif;
    width: 22%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-weight:500;
}
.info_table{
    
    border: 1px solid lightgrey;
    margin-top: 3rem;
    table{
        height: 14vh;

    }
    th{
        background-color:rgb(240, 239, 239);
    }
     td{
         padding: 15px;
     }
}
@media only screen and (min-width: 360px) {
    .image1{
        width: 200px;
    }
}


@media only screen and (min-width: 630px) and (max-width:750px) {
    .success_main {
        min-height: 100vh;
    }
    .image1 {
        width: 40vw !important;
        margin-top: 2rem;
    }
    .success_text {
        width: 40%;
    }
    .info_table {
        margin-top: 3rem;
    }
    .ctn_shopping {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 360px) and (max-width: 630px){
    .success_main {
        min-height: 93vh;
    }
    .image1 {
        width: 60vw !important;
        margin-top: -2rem;
    }
    .success_text {
        width: 81%;
        margin-top: 2rem
    }
    .info_table {
        display: none;
    }
    .ctn_shopping {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 340px){
    .success_main {
        min-height: 88vh;
    }
    .image1 {
        width: 60vw !important;
        margin-top: 3rem;
    }
    .success_text {
        width: 91%;
    }
    .info_table {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
     .image1{
        width: 46vw !important;
     }

     .success_text{
        width: 34%;
        margin-left: 1rem;
     }
}