.footer_main{
    background-color: #2E1D1E !important;
    position: absolute;
    left: 0;
    width: 100%;
}

.footer_title {
    color: #fff;
    opacity: 0.8;
    float: left;
    font-size: 0.8rem;
    margin-left: 8rem;
}