.footer_main{
    background-color: #2E1D1E !important;
    position: absolute;
    left: 0;
    width: 100%;
}

.footer_title {
    color: #fff;
    opacity: 0.8;
    float: left;
    font-size: 0.9rem;
    margin-left: 14rem;
}


@media screen and (min-width: 360px) and (max-width: 630px){
    .footer_title{
        font-size: 0.7rem;
        margin-left: 1rem  ;   
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px){



    .footer_title{
    font-size: 0.9rem;
    margin-left: 7rem;
    }

}


@media screen and (max-width: 340px){

    .footer_title{
        margin-left: 2rem;
}
    }

