$font-weight: 600;
$display: flex;
$justify: center;
$align: center;
$width: 100%;

.main_display{
    background-color: #878787;
    width: $width;
    height: 100vh;
    display: $display;
    justify-content: $justify;
    align-items: $align;
}
.cart-display{
    background-color: rgb(250, 244, 244);
    width: 20%;
    height: 50vh;
    border-radius: 21px 0px 0px 21px;
    box-shadow: 0px 0px 22px -6px #88888a;
}
.img_cart{
    display: $display;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
    width: $width;
    height: 45vh;
}
.img_cart> img{
    width: 250px;
    border-radius: 150px;
}
.img_cart> span{
    font-weight: $font-weight;
}
.user_content{
    background-color: white;
    width: 24%;
    height: 54vh;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 0px #88888a;
}
.heading{
    display: $display;
    justify-content: space-around;
    margin-top: 22px;
    text-align: left;
    font: normal normal medium 25px/33px ;
    letter-spacing: 0px;
    color: black;
    text-transform: uppercase;
    opacity: 1;
}
.head{
    cursor: pointer;
    font-weight: $font-weight;
    font-size: 1.5rem;
    color: #c0b5b5;
}
.head:hover ,.btn:active,.btn:focus{
    color: black;
}





@media screen and (min-width: 768px) and (max-width: 1024px){

    .cart-display{
        width: 35%;
        height: 40vh;
    }

    .user_content{
        width: 45%;
    height: 45vh;
    }
    .img_cart> img{
        width:180px;
    }
}



@media screen and (min-width: 360px) and (max-width: 630px){
    .cart-display{
        display:none;
    }

    .user_content{
        width: 100%;
        height: 100vh;
    }
    .heading{
        margin-top:7rem;
    }
}

@media screen and (max-width: 340px){
    .cart-display {
        display: none;
    }
    .user_content {
        width: 100%;
        height: 102vh;        
    }
}