.displaybook-mainContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: center;
    align-items: center;
    margin-top:-2rem;
    margin-left:2.8rem;
    width:85vw;
}