.displaybook-mainContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: center;
    align-items: center;
    margin-top:-2rem;
    margin-left:2.8rem;
    width:85vw;
}



.menudiv {
   margin-left: 55rem;
   margin-top:1.5rem;

  }
  .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    color: black !important;
    border: lightgrey solid 1px !important;
    font-size: 13px !important;
  }


  

  .displaybook-header2{
    display: flex;
    margin-top: 5rem;
margin-left: 13rem;
}

.displaybook-header2 >p {
    margin-top: 1.6rem;
    margin-left:0.6rem;
    font-weight: 600;
    color: lightgray;
}
